<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<body class="bg-light">

<div class="my-4">
  <a href="/" class="h4 text-decoration-none font-weight-light d-flex align-items-center justify-content-center text-dark w-100">
    <svg width="28" height="28" viewBox="0 0 16 16" class="bi bi-book text-danger mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z"/>
        <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
    </svg>
    MYBOOK
  </a>
</div>

<div class="container my-5">
  <a href="/" class="d-flex align-items-center text-decoration-none">
    <svg width="25" height="25" viewBox="0 0 16 16" class="bi bi-arrow-left-circle text-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
      <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
    </svg>
    <span class="text-dark font-weight-light ml-2">Return</span>
  </a>
  <div class="my-5">
    <%if (total.value > 0) { %>
      <h3 class="mb-4 text-dark font-weight-light"><b><%= total.value %></b> results for
        <i class="font-weight-bold"><%= query %></i>
      </h3>
      <div class="row">
        <% hits.forEach((hit) => { %>
          <div class="col-lg-4 col-md-6 my-3">
            <div class="p-3 bg-white rounded d-flex align-items-start shadow-sm">
              <img
              src="<%= hit._source.formats['image/jpeg'] %>"
              alt="<%= hit._source.title %>"
              title="<%= hit._source.title %>"
              height="100"
              width="70"
              class="rounded shadow-sm"
              >
              <div class="d-flex flex-column justify-content-between ml-3">
                <% if (hit.highlight) { %>
                  <span class="text-dark" style="font-size: 14px;"><%- hit.highlight.title %></span>
                <% } else { %>
                  <span class="font-weight-normal text-dark" style="font-size: 14px;"><%= hit._source.title %></span>
                <% } %>
                <% hit._source.authors.forEach((author) => { %>
                  <span class="font-weight-light text-muted mt-1" style="font-size: 13px;"><%= author.name %></span>
                <% })%>
                <div class="font-weight-light text-dark mt-1" style="font-size: 11px;">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-download-fill mr-2 text-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                  </svg>
                  <%= hit._source.download_count %>
                </div>
              </div>
            </div>
          </div>
        <% })%>
      </div>
    <% } else { %>
      <h3 class="my-4 text-dark font-weight-light">No result for
        <i class="font-weight-bold"><%= query %></i>
      </h3>
      <div class="row">
        <span class="col font-weight-light text-dark">No books have been found, please try again.</span>
      </div>
    <% } %>
  </div>
</div>
</body>
